<div ng-controller="dashboardCtrl">

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/main"><img src="img/logo.png" height="25px"/></a>
        </div>
        <div class="push"><a class="navbar-brand" href ng-click="moveToPushSender()">Send push</a></div>
        <div class="logout"><a class="navbar-brand" href ng-click="Logout()">Logout</a></div>
    </div>
</nav>

<div class="container">
<div class="page-header">
    <h1>Admin dashboard</h1>
    <h2  ng-show="isDev">Using Dev Server</h2>
</div>


<div class="col-md-8">
    <div class="panel with-nav-tabs panel-primary">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href ng-click="updatePostCache(1,0)">
                        <p class="counter">{{ posts | count_unassigned }}</p>
                        <p class="counterLable">Unassigned Questions</p>
                    </a>
                </li>
                <li>
                    <a href ng-click="updatePostCache(2,0)">
                        <p class="counter">{{ posts | count_assigned }}</p>
                        <p class="counterLable">Assigned & Pending</p>
                    </a>
                </li>
                <li>
                    <a href ng-click="updatePostCache(3,0)">
                        <p class="counter">{{ posts | count_answered }}</p>
                        <p class="counterLable">Answered Questions</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1primary">
                    <div ng-show="(posts | count_unassigned) == 0">No posts yet</div>
                    <div class="[ panel panel-default ] panel-google-plus" ng-repeat="post in posts| startFrom:post_current_page*POSTS_PER_PAGE | limitTo:POSTS_PER_PAGE">

                        <div class="panel-google-plus-tags">
                            <ul>
                                <li>{{post.subject}}</li>
                            </ul>
                        </div>
                        <div class="panel-heading">
                            <h3>{{post.username}}</h3>
                            <h5>{{post.ask_date | date:'MMM d, y'}}</h5>
                        </div>
                        <div class="panel-body">
                            <img src=" http://res.cloudinary.com/daayssulc/image/upload/{{post.img_id}}.jpg" ng-show="post.img_id != ''" class="post-image">
                            <p>{{post.body}}</p>
                        </div>
                        <span ng-repeat="tutor in post.potential_tutors">
                            <input type="button" ng-click="removeTutorFromPost(post,tutor)" value="{{tutor.name}}"/>
                        </span>
                        <div class="panel-footer">
                            <button ng-click="selectPostTutor(post)">add tutor</button>
                        </div>
                    </div>
                    <div class="pagination">
                        <button ng-disabled="post_current_page == 0" ng-click="updatePostCache('',-1)">
                            Previous
                        </button>
                        {{post_current_page+1}}/{{getPostPageCount()}}
                        <button  ng-click="updatePostCache('',1)">
                            Next
                        </button>
                    <!--<dir-pagination-controls boundary-links="true" template-url="vendor/angular-utils-pagination/dirPagination.tpl.html" pagination-id="unpost"></dir-pagination-controls>-->
                    </div>
                </div><!-- /Question -->
            </div>
        </div>
    </div>
</div>
<!-- /Tabs -->

<!-- Tutor list -->
<div class="col-md-4">

    <div class="panel panel-default">

        <div class="panel-heading c-list"><!-- Header -->
            <span class="title" ng-show="!searchState">Tutors</span>
            <span class="title" ng-show="searchState">Users</span>
            <ul class="pull-right c-controls">
                <li><a href ng-click="showSearch()" class="hide-search" data-command="toggle-search" data-toggle="tooltip" data-placement="top" title="Toggle Search"><i class="glyphicon glyphicon-search"></i></a></li>
            </ul>
        </div><!-- /Header -->

        <div class="row" ng-show="searchState"><!-- Search bar -->
            <div class="col-xs-12">
                <div class="input-group c-search">
                    <input type="text" class="form-control" id="contact-list-search" ng-model="query" ng-change="updateUsersCache()">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                        </span>
                </div>
            </div>
        </div><!-- /Search bar -->

        <ul class="list-group" id="contact-list">
            <li class="list-group-item" ng-repeat="user in  users| startFrom:users_current_page*USERS_PER_PAGE | limitTo:USERS_PER_PAGE">
                <div class="col-xs-12 col-sm-3">
                    <img src="{{ user.profile_picture }}" alt="{{ user.name }}" class="img-responsive img-circle" />
                </div>
                <div class="col-xs-12 col-sm-9">
                    <span class="name"><a href="javascript:void(0)" ng-click="toggleModal(user.id)">{{ user.name }}</a></span><br/>
                  </div>
                <div class="clearfix"></div>
            </li>
        </ul>
        <button ng-disabled="users_current_page == 0" ng-click="users_current_page=users_current_page-1">
            Previous
        </button>
        {{users_current_page+1}}/{{getUsersPageCount()}}
        <button ng-disabled="users_current_page >= users.length/USERS_PER_PAGE - 1" ng-click="users_current_page=users_current_page+1">
            Next
        </button>
    </div>


    <modal title="Tutors control" visible="showModal">
        <div ng-show="selectedPost!=null">

            <angucomplete-alt id="tutorAutoComplete"
                              placeholder="Search tutor"
                              pause="400"
                              selected-object="setSelectedTutorTo"
                              remote-url="php/user.php?token=kaizen&action=getData&is_teacher=true&pre="
                              remote-url-data-field="users"
                              image-field="profile_picture"
                              title-field="name"
                              minlength="0"
                              />
        </div>
        <div ng-show="currentUser >0">
            <form role="form" id="modalTutor">
                <div class="form-group">
                    <label for="user.name">Name</label>
                    <input id="user.name" type="text" placeholder="Enter name" ng-model="user.name" class="form-control" />
                </div>
                <!--<div class="form-group">
                    <label for="email">Email address</label>
                    <input type="text" class="form-control" ng-model="user.email" placeholder="Enter email" />
                </div>-->
                <div class="form-group">
                    <label for="user.institute">Institute</label>
                    <input id="user.institute" type="text" placeholder="Enter institute" ng-model="user.institute" class="form-control" />
                </div>
                <!--<div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" ng-model="user.phone" placeholder="Enter phone" />
                </div>-->
                <div class="form-group">
                    <label for="user.picture.data.url">Photo URL</label>
                    <input id="user.picture.data.url" type="text" class="form-control" ng-model="user.picture.data.url" placeholder="Enter photo url" />
                </div>
                <div class="form-group">
                    <label for="user.is_teacher">Is Tutor</label>
                    <input id="user.is_teacher" type="checkbox" class="form-control" ng-model="user.is_teacher" style="width: inherit;"/>
                </div>
                <button type="submit" ng-click="updateUser(user)" class="btn btn-primary">Save</button>

                <div class="form-group">
                    <label for="send_push">Send push</label>
                    <textarea id="send_push" ng-model="user.push_text" class="form-control"></textarea>
                </div>
                <button type="submit" ng-click="sendPush(user.push_text,user.amazon_endpoint_arn)" class="btn btn-primary">Send</button>
            </form>
        </div>
    </modal>
</div>

</div>
</div>
<!-- /Tutor list -->
</div>