<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <br>
    <div>
        <ul>
            <li class="list-group-item" ng-repeat="field in searchFields">
                <label>{{field.name}}</label>
                <input type="text" ng-model="field.value" ng-show="field.type!='boolean'"/>
                <input type="checkbox" ng-model="field.value"  ng-show="field.type=='boolean'"/>
            </li>
        </ul>
    </div>
    <a href ng-click="scanForUsers()">scan</a>
    <div>
        <ul>
            <li class="list-group-item" ng-repeat="user in  selectedUsers">
                <label>{{user.name}}</label>
            </li>
        </ul>
    </div>
    <div ng-show="selectedUsers.length>0">
        <textarea id="message" ng-model="message"></textarea>
        <a href ng-click="sendPush()" ng-show="message.length>0">send</a>

    </div>
</body>
</html>