<div ng-controller="authCtrl">

<div class="container">
    <div class="title_auth">
        <h2>AfterClass Dashboard</h2>
        <h2  ng-show="isDev">Using Dev Server</h2>
    </div>
    <form class="form-signin" role="form">
        <input name="username" type="email" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="user.email">
        <input name="password" type="password" class="form-control" placeholder="Password" required="" ng-model="user.password">

        <button class="btn btn-lg btn-primary btn-block" ng-click="signIn(user)">Sign in</button>
    </form>
    <div class="error" ng-show="showError == 1">{{ error }}</div>

</div>



</div>